.divisionCard {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 300px;
  min-height: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  .header {
    font-size: 20px;
    padding: 5px;
    background-color: #2b57ab;
    color: white;
    font-family: National, Arial, Helvetica, sans-serif;
  }
  .content {
    .divisionResults {
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .results {
        padding: 20px;
        &.ayes,
        &.noes {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .count {
            font-weight: bold;
            font-size: 20px;
          }
        }
      }
    }
    .savedNote {
      padding: 5px;
      .italicText {
        font-style: italic;
      }
    }
  }
  .footer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    & span {
      background-color: #2b57ab;
      color: white;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 3px;
    }
  }
}
