<div class="divisionCard">
  <div class="header">{{ divisionCardData.title }}</div>
  <div class="content">
    <div class="divisionResults">
      <div class="ayes results">
        <div>Ayes</div>
        <div><img src="assets/images/aye.svg" /></div>
        <div class="count">{{ divisionCardData.ayesCount }}</div>
      </div>
      <div class="noes results">
        <div>Noes</div>
        <div><img src="assets/images/nay.svg" /></div>
        <div class="count">{{ divisionCardData.noesCount }}</div>
      </div>
    </div>
    <div class="savedNote" *ngIf="divisionCardData.note !== ''">
      Notes: <span class="italicText">{{ divisionCardData.note }}</span>
    </div>
  </div>
  <div class="footer">
    <div>
      Enter notes:<br />
      <textarea
        name="divisionNote"
        [(ngModel)]="note"
        style="resize: none"
      ></textarea>
    </div>
    <div>
      <span (click)="saveNote()" cdkFocusInitial>Save</span>
    </div>
  </div>
</div>
