<div class="paginator">
  <span
    *ngFor="let pageNumber of pagesList"
    (click)="OnChangePageNumber(pageNumber)"
    [ngClass]="{
      selectedPage: pageNumber === currentPage,
      paginatorItem: true
    }"
  >
    {{ pageNumber }}
  </span>
</div>
<div>
  <select
    id="itemsPerPage"
    name="itemsPerPage"
    (change)="OnChangeItemsPerPage($event.target.value)"
  >
    <option *ngFor="let item of itemsPerPageList" value="{{ item }}">
      {{ item }}
    </option>
  </select>
</div>
