<div class="page-header">
  <img src="assets/images/header-pic.svg" />
  <div class="page-title">Parliament recent divisions</div>
</div>

<div *ngIf="divisionData$ | async as divisionData">
  <form #divisionForm="ngForm" id="divisionForm" name="divisionForm">
    <app-division-paginator
      (pageChange)="OnChangePageNumber($event)"
      (itemsPerPageChange)="OnChangeItemsPerPage($event)"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [numberOfItems]="divisionData.numberOfItems"
    ></app-division-paginator>
    <div class="division-dashboard">
      <app-division-card
        *ngFor="let divisionItem of divisionData.divisionItems"
        [divisionCardData]="divisionItem"
        (saveNotes)="onSaveNotes($event)"
      ></app-division-card>
    </div>
  </form>
</div>
