<div class="pageTitle">Parliament recent divisions</div>

<div *ngIf="divisionData">
  <form #divisionForm="ngForm" id="divisionForm" name="divisionForm">
    <app-division-paginator
      (pageChange)="OnChangePageNumber($event)"
      (itemsPerPageChange)="OnChangeItemsPerPage($event)"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
    ></app-division-paginator>
    <div class="division-dashboard">
      <app-division-card
        *ngFor="let divisionItem of divisionData.divisionItems"
        [divisionCardData]="divisionItem"
        (saveNotes)="onSaveNotes($event)"
      ></app-division-card>
    </div>
  </form>
</div>
